* {
  margin: 0;
  padding: 0;
}
#canvas {
  margin: 1% auto;
  display: block;
  border: 3px solid #FFF;
}
body {
  background-color: #272727;
  color: #fff;
  font-weight: 800;
  font-size: 3.5em;
  text-transform: uppercase;
  font-family: Calibri;
}